<h1>Line Items</h1>
<%= f.fields_for :line_items,class: "form-line--item" do |item|  %>
  <div class="form-inline fields line-items">
	  <div class="form-group">
	    <label>Product Name :</label>
	    <%= item.text_field :product ,class: "form-control"  %> 
	  </div>

	  <div class="form-group">
	    <label>Quanity :</label>
	    <%= item.text_field :qty ,class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <label>Price :</label>
	    <%= item.text_field :price ,class: "form-control" %>
	  </div>

	  <div class="form-group">
	  	<label> Remove :</label>
		<%= item.check_box :_destroy %>
	  </div>
  </div>
<% end %>