<div class="container">

	<div class="container">
		<ol class="breadcrumb">
		  	<li><%= link_to 'Customers',customers_path,class: "" %></li>
		  	<li><%= link_to 'Invoices' ,customer_invoices_path,class: "active" %></li>
		</ol>		
	</div>

	<div class="row">
		<%= link_to '+Add',  new_customer_invoice_path,:class => "btn btn-primary pull-right" %>
	</div>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<th>No.</th>
				<th>Invoice Number</th>
				<th>Total</th>
				<th>Issue Date</th>
				<th>Due Date</th>
				<th>Tools</th>
			</thead>
			<tbody>
				<% @invoices.each do |invoice| %>
				<tr>
					<td></td>
					<td><%= invoice.invoice_number %></td>
					<td><%= invoice.total %></td>
					<td><%= invoice.issue_date %></td>
					<td><%= invoice.due_date %></td>
					<td>
						<%= link_to 'Show', customer_invoice_path(@customer,invoice),
							class: "btn btn-success"%>
						<%= link_to 'Edit', edit_customer_invoice_path(@customer,invoice),
							class: "btn btn-warning"%>
						<%= link_to 'Delete', customer_invoice_path(@customer,invoice),
             				method: :delete,
            				data: { confirm: 'Are you sure?' },
            				class: "btn btn-danger" %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>		
	</div>
</div>