<%= render "layouts/header" %>

<div class="container">
	<div class="row">
		<%= link_to '+Add', new_invoice_path,:class => "btn btn-primary pull-right" %>
	</div>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<th>No.</th>
				<th>Invoice Number</th>
				<th>Invoice Company</th>
				<th>Customer</th>
				<th>Total</th>
				<th>Issue Date</th>
				<th>Due Date</th>
				<th>Tools</th>
			</thead>
			<tbody>
				<% @invoices.each do |invoice| %>
				<tr>
					<td></td>
					<td><%= invoice.invoice_number %></td>
					<td></td>
					<td></td>
					<td><%= invoice.total %></td>
					<td><%= invoice.issue_date %></td>
					<td><%= invoice.due_date %></td>
					<td>
						<%= link_to 'Show', invoice_path(invoice),
							class: "btn btn-success"%>
						<%= link_to 'Edit', edit_invoice_path(invoice),
							class: "btn btn-warning"%>
						<%= link_to 'Delete', invoice_path(invoice),
             				method: :delete,
            				data: { confirm: 'Are you sure?' },
            				class: "btn btn-danger" %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>		
	</div>
</div>